@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.pwd_container{
    background-color:rgb(214, 208, 198);
    font-weight:600;
    margin:0 auto;
    padding:0px;
    text-align:center;
    color:black;
    margin-top: 100px;
    line-height: 3em;
    cursor:none;
}
.pwd input{
    display:block;
    margin:0 auto;
}
.pwd_heading{
    font-size:20px;
    font-weight:800;
}
.pwd_choice{
    text-align:center;
    padding:0px;
    margin:0px;
}
.pwd_errors{
    color:red;
    font-size:16px;
    font-weight:bold;
    
}
.pwd_btn{
    cursor: pointer;
        border: 1px solid #47331b;
        background-color: transparent;
        margin:0 auto;
        width: 200px;
        color: black;
        font-size: 15px;
        box-shadow: 0 6px 6px rgba(124, 62, 62, 0.6);
}
label{
    padding:10px;
}
