@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.todo_view{
    background-color: rgb(214, 208, 198);
    margin-top:100px;
    text-align:center;
    line-height:20px;
}
.todo_section{
    margin-bottom:20px;
}
.todo_heading{
    font-weight:800!important;
    font-size:20px !important;
    margin-bottom:10px;
}
.todo_input{
color: #942727;
background:transparent;
margin-top:10px;
}
.todo_btn{
    margin-right:30px!important; 
    margin-left:30px !important;
    height:1.4375em!important;
    width:fit-content!important;
    color:#942727!important;
}
.todo_unordered{
    display:flex;
    list-style-type:none;
}
.todo_unordered li{ 
    padding:5px;
    flex:auto;
    align-items:center;
}
.li_text{
    display:inline;
    border:1px solid black;
    padding:5px;
    margin:5px;
}
.todo_strike{
    text-decoration:line-through;
}